nav{
  margin-bottom: 30px;
}
.navBlock{
  display: flex;
  align-items: center;
  gap: 139px;
}
.navLoc{
  display: flex;
  align-items: center;
  color: #434343;
  font-family: Inter;
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  gap: 3px;
  cursor: pointer;
}
.navUl{
  display: flex;
  gap: 50px;
  width: 1336px;
}

.navUl li a{
  color: #07080A;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}